# Build artifacts
build/
dist/
*.egg-info/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Test result cache
.pytest_cache/

# Virtual environment
.venv/
env/
venv/
.env/

# IDE settings
.idea/
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
logs/
outputs/
*.log
*.env

# Coverage
.coverage
.htlmcov/
.coverage.xml